
.calendar {
    max-width: 1280px;
    min-width: 320px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

.calendar-title {
    border-bottom: 1px solid #000;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.year-input {
    width: 80px;
    height: 33px;
    padding: 0;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #606060;
    -webkit-appearance: none;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: black;
    vertical-align: top;
}

.submit-button {
    height: 35px;
    border-radius: 5px;
    border: 1px solid #606060;
    -webkit-appearance: none;
    margin-left: 10px;
    vertical-align: top;
}

.submit-button:not(:disabled) {
    cursor: pointer;
}
.submit-button:disabled {
    border: 1px solid #e0e0e0;
}

.error {
    font: 16px;
    font-weight: 300;
    color: #cd2524;
    span {
        text-decoration: underline;
        color: #0073e6;
        cursor: pointer;
    }
    span:hover {
        color: #0060bf;
    }
}

.month {
    display: inline-block;
    margin: 10px 20px;
    vertical-align: top;
    text-align: left;
    @media only screen and (max-width: 360px) {
        margin: 10px 0;
    }
    @media only screen and (min-width: 361px) {
        margin: 10px 20px;
    }
}

.month-title {
    font-weight: 600;
    line-height: 25px;
}

.month-week {
    display: block;
    white-space: nowrap;
}

.day {
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    color: #000;
    vertical-align: middle;
}

.disabled {
    color: #a0a0a0;
}

.today {
    color: #0073e6;
    font-weight: 600;
}